openai
python-dotenv
faiss-cpu
sentence-transformers
langchain
langchain-community
langchain-text-splitters
pypdf
numpy
pandas
tqdm
tiktoken
gradio
requests
fastapi
uvicorn
rank-bm25
scikit-learn
scipy
